In [2]:
import kagglehub

path = kagglehub.dataset_download("vivekananda99/imdb-dataset")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/imdb-dataset

In [3]:
import pandas as pd
import os

In [4]:
# Check available files
print("Files in dataset folder:")
for file in os.listdir(path):
    print("-", file)

Files in dataset folder:
- title.basics.tsv
- title.episode.tsv
- title.principals.tsv
- title.ratings.tsv
- name.basics.tsv
- title.akas.tsv
- title.crew.tsv

In [8]:
title_akas = pd.read_csv(
    "/kaggle/input/imdb-dataset/name.basics.tsv",
    sep="\t",
    dtype=str,
    on_bad_lines="skip",
    nrows=100_000  # load first 100k rows
)
title_akas.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0025164"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"

In [9]:

# Print dataset shapes
print(f"title.akas → {title_akas.shape}")

title.akas → (100000, 6)